<div>
  <button class="previous" (click)="onPreviousMonth()"> Previous </button>
  <span class="month-tag"> {{ calendarCreatorService.getMonthName(monthNumber) }}&nbsp;{{ year }} </span>
  <button class="next" (click)="onNextMonth()"> Next </button>
</div>

<br>


<div class="calendar">
  <div class="date-grid">
    <span *ngFor='let weekDay of weekDaysName' class="dayOfWeek" >
      {{ weekDay }}
    </span>
    <app-calendar-date *ngFor='let day of monthDays' [date]="day.dayNumber" [isDragging]="isDragging" [isHovering]="isHovering" [toActive]="toActive" [ngClass]="{'today': day.today === true}">
      <!-- {{ day.dayNumber }} -->
    </app-calendar-date>
  </div>
</div>