/* calendar-date.component.scss */

/* Default styling for the day element */
.day {
  /* Add your desired default styles for the day element here */
  width: 32px;
  height: 32px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the day element when it's active (during drag) */
.day.active {
  border-radius: 10px;
  background: #5E8BFF;
  color: white;
}
