@mixin input {
    margin: 0;
    padding: 0;
    padding-left: 16px;
    color: #122963;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    height: 40px;
    appearance: none; /* Remove the default styles applied by the browser */
    -webkit-appearance: none; /* For cross-browser support on older versions of Safari */
    border-radius: 10px;
    border: 2px solid #CED3DC;
    background-color: #FFF;
}

:host {
    display: block;
    background: #122963;
    overflow: hidden;
}

.header {
    width: 100vw;
    position: fixed;
    top: 0;

    &-logo{
        fill: #FFF;
        width: 80px;
        height: 65.545px;
        flex-shrink: 0;
        padding-left: 12px;
    }

    &-content {
        color: #FFF;
        align-items: center;
        text-align: center;
        padding: 16px;
        overflow: hidden;
    }
    &-name {
        margin: 0;
        text-align: right;
        font-family: Montserrat;
        font-size: 52px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 8px;
    }
    &-sentence {
        padding: 16px;
        text-align:center;
        font-family: Open Sans;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.event-card {
    width: 100vw;
    height: 80%;
    border-radius: 25px 25px 0px 0px;
    background: #FFF;
    position: fixed;
    bottom: 0;

    div.progress-bar {

        &-current {
            background: #5E8BFF;
            width: 50%;
            height: 12px;
            border-radius: 10px;
            margin: 16px;
            margin-right: 8px;
        }

        &-not-current{
            background: #D9D9D9;
            width: 50%;
            height: 12px;
            border-radius: 10px;
            margin: 16px;
            margin-left: 8px;
        }
    }

    &-content {
        font-family: Open Sans;
        margin: 16px;

        input {
            @include input;
            height: 36px;
        }

        app-time-picker {
            ::ng-deep select {
                @include input;
                width: 100%;
            }
        }

        &-create-button {
            @include input;
            width: 100%;
            border: none;
            background: black;
            color: white;
        }

    }

    

    // ::ng-deep mat-form-field {
    //     width: 100%;
    //     // height: 40px;
    //     border-radius: 10px;
    //     border: 2px solid #CED3DC;
    //     /* Add other custom CSS properties as needed */
    //   }

    //   ::ng-deep mat
        // .mat-form-field-label {
        //     color: slategray;
        // }
        // .mat-form-field-underline {
        //     background-color: slategray;
        // }
        // .mat-form-field-ripple {
        //     background-color: slategray;
        // }
        // .mat-form-field-required-marker {
        //     color: slategray;
        // }
    

}

