<!-- <app-calendar></app-calendar> -->
<header class="header">
    <div class="header-content">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <object class="header-logo" data="../../assets/logo-white.svg"></object>
            <h1 class="header-name">
                Meet
                <br>
                Instantly.
            </h1>
        </div>
        <span class="header-sentence">schedule an event with your friends/co-workers</span>
    </div>
</header>
<div class="event-card">
    <!-- <div class="progress-bar" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="progress-bar-current"></div>
        <div class="progress-bar-not-current"></div>
    </div> -->

    <div class="event-card-content">
        <div fxLayout="column">
            <label for="event-name">Event Name</label>
            <input type="text" id="event-name" placeholder="New Event">
        </div>
        <app-timezone-picker (timeZoneSelected)="onTimeZoneSelected($event)"></app-timezone-picker>

        <div fxLayout="row" style="width: 100%;" fxLayoutGap="16px">
            <div fxLayout="column" style="width: 100%;">
                <label for="earliest-time">Earliest Time</label>
                <app-time-picker [initialTime]="'09:00 AM'" (timeChanged)="onEarliestTimeChanged($event)"></app-time-picker>
            </div> 
            <div fxLayout="column" style="width: 100%;">
                <label for="latest-time">Latest Time</label>
                <app-time-picker [initialTime]="'09:00 PM'" (timeChanged)="onLatestTimeChanged($event)"></app-time-picker>
            </div> 
        </div> 
    </div>

    <div class="event-card-content">
        <app-calendar></app-calendar>
    </div>

    <button ((click)="onCreateEvent()")> Next </button>
    
</div>